
@media only screen and  (min-width: 1300px) {

    /* service title */
    .serviceTitle {
        left: 61.472vh
    }

    /* service selector */
    .selectWrapper {
        left: 59.44vh;
    }

    /* mail */
    .mail {
        left: 75.256vh;
    }

    /* interactive screen */
    .introduce1{
        left: 23.2vh;
    }

    .introduce2{
        left: 36vh;
    }

    .iphone1 {
        left: 91.2vh;
    }

    .potato {
        left: 100.933vh;
    }

    .play {
        left: 128.26vh;
    }

    .interactiveScreen2 {
        left: 40.6vh
    }

    /* selling plan */
    .sellingMain {
        left:75.6vh
    }

    .sellingTitle {
        left:70.666vh
    }

    .sellingLeft{
        left: 32.933vh
    }

    .sellingRight{
        left:  131.06vh
    }

    .serviceScreen2Title {
        left: 88.88vh
    }

    .contract {
        left: 60.5328vh
    }

    .applyTitle {
        left:  57.732vh
    }

    .operator {
        left: 94vh
    }
    .orientationTitle {
        left:  93.464vh
    }
    .newspaper {
        left: 128.665vh
    }
    .complete{
        left: 132vh
    }
    .applyDiscription{
        left: 50.4vh
    }
    .orientationDiscription{
        left: 85.456vh
    }
    .completeDiscription{
        left: 121.732vh
    }
    .arrow {
        left:171.2vh
    }

    .sample {
        left:166.665vh
    }

    .price {
        left:48.665vh
    }

    .serviceScreen4Title {
        left:86.932vh
    }
    .feel1 {
        left:31.0656vh
    }
    .feel2 {
        left:124.665vh
    }

    .woman {
        left:80vh
    }
    .man {
        left: 108.665vh
    }

    .who1 {
        left:77.732vh
    }
    .who2 {
        left:106.4vh
    }

    /* logColle*/

    .explanation {
        left: 99.065vh;
    }

    #ytplayer {
        left: 99.065vh;
    }
    .iphone {
        left: 68.8vh;
    }

    .google {
        left: 99.065vh;
    }

    .apple {
        left: 119.536vh;
    }

    .whiteScreen {
        left: 70.2656vh;
    }

    .log {
        left: 74.665vh;
    }
    .logColleScreen2 {
        left: 70.2656vh;
    }
    .logColleScreen3 {
        left: 70.2656vh;
    }
    .logColleScreen4 {
        left: 70.2656vh;
    }
    .logColleScreen5 {
        left: 70.2656vh;
    }
    .logColleDots {
        left:  66.4vh;
    }

    /* Line */
    .characters {
        left:44.932vh;
    }
    .line {
        left:82.932vh;
    }

}



@media only screen and  (max-width: 1299px) {
    /* service title */
    .serviceTitle {
        left: 46.472vh
    }

    /* service selector */
    .selectWrapper {
        left: 43.44vh;
    }

    /* mail */
    .mail {
        left: 58.256vh;
    }


    /* interactive screen */
    .introduce1{
        left: 13.2vh;
    }

    .introduce2{
        left: 26vh;
    }

    .iphone1 {
        left: 72.133vh;
    }

    .potato {
        left: 80.933vh;
    }

    .play {
        left: 108.26vh;
    }

    .interactiveScreen2 {
        left: 25.6vh
    }

    /* selling plan */
    .sellingMain {
        left:55.6vh
    }

    .sellingTitle {
        left:50.666vh
    }

    .sellingLeft{
        left: 12.933vh
    }

    .sellingRight{
        left:  111.06vh
    }

    .serviceScreen2Title {
        left: 68.88vh
    }

    .contract {
        left: 40.5328vh
    }

    .applyTitle {
        left:  37.732vh
    }

    .operator {
        left: 74vh
    }

    .orientationTitle {
        left:  73.464vh
    }
    .newspaper {
        left: 108.665vh
    }
    .complete{
        left:112vh
    }
    .applyDiscription{
        left: 30.4vh
    }
    .orientationDiscription{
        left: 65.456vh
    }
    .completeDiscription{
        left: 101.732vh
    }
    .arrow {
        left:151.2vh
    }

    .sample {
        left:146.665vh
    }
    .price {
        left:28.665vh
    }

    .serviceScreen4Title {
        left:66.932vh
    }
    .feel1 {
        left:11.0656vh
    }
    .feel2 {
        left:104.665vh
    }

    .woman {
        left:60vh
    }
    .man {
        left: 88.665vh
    }

    .who1 {
        left:57.732vh
    }
    .who2 {
        left:86.4vh
    }

    /* logColle */
    .explanation {
        left: 79.065vh;
    }
    #ytplayer {
        left: 79.065vh;
    }

    .iphone {
        left: 48.8vh;
    }

    .google {
        left: 79.065vh;
    }

    .apple {
        left: 99.536vh;
    }
    .whiteScreen {
        left: 50.2656vh;
    }

    .log {
        left: 54.665vh;
    }

    .logColleScreen2 {
        left: 50.2656vh;
    }
    .logColleScreen3 {
        left: 50.2656vh;
    }
    .logColleScreen4 {
        left: 50.2656vh;
    }
    .logColleScreen5 {
        left: 50.2656vh;
    }
    .logColleDots {
        left:46.4vh;
    }

    /* Line */
    .characters {
        left:34.932vh;
    }
    .line {
        left:72.932vh;
    }

}

