
@media only screen and  (min-width: 1151px) {
    .interactiveScreen1Wrapper {
        position: absolute;
        width: 1064px;
        left:calc(50vw - 532px);
    }

    .introduce1{
        width: 402px;
        height:auto;
        top: 63px;
        left: 0;
    }
    .introduce2{
        width: 309px;
        height: 40px;
        top: 200px;
        left: 96px;
    }

    .iphone1 {
        position: absolute;
        width: 622px;
        height: auto;
        left: 442px;
    }

    .potato {
        position: absolute;
        width: 488px;
        height: auto;
        left: 508px;
        top: 18px;
    }
    .play {
        width: 79px;
        height: 79px;
        top: 121px;
        left: 713px;
    }

    .mail {
        width: 324px;
        height:28px;
        top: 91.86vh;
        left:calc(50vw - 162px);
    }
}

@media only screen and  (max-width: 1150px) {

    /* interactive screen */
    .interactiveScreen1Wrapper {
        position: absolute;
        width: 851.2px;
        left:calc(50vw - 425.6px);
    }


    .introduce1{
        width: 321.6px;
        height:auto;
        top: 43px;
        left: 0;
    }

    .introduce2{
        width: 247.2px;
        height: auto;
        top: 160px;
        left: 74.2px;
    }

    .iphone1 {
        position: absolute;
        width: 497.6px;
        height: auto;
        left: 350px;
    }

    .potato {
        position: absolute;
        width: 390.4px;
        height: auto;
        left: 404px;
        top: 13px
    }

    .play {
        width:63.2px;
        height:63.2px;
        top: 96px;
        left: 567.6px;
    }

    .mail {
        width: 324px;
        height:28px;
        top: 91.86vh;
        left:calc(50vw - 162px);
    }
}

@media only screen and  (max-height: 710px) {
    .mail {
        width: 324px;
        height:28px;
        top: 110.86vh;
        left:calc(50vw - 162px);
    }
}


